<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Intrusion Detection System</title>
</head>
<body>
    <section class="header">
        <nav>
            <a href=""><img src="/static/images/ids_icon.png"></a>
            <div class="nav-links" id="navLinks">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT US</a></li>
                    <li><a href="">SERVICES</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </div>
        </nav>
    <div class="text-box">
        <h1>Intrusion Detection System</h1>
        <p>Monitor your network<br> Using our system.</p>
        <a href='/mainhtml.html' class="hero-btn">Start</a>
    </div>    
    </section>

    <!-- services -->
    <section class="service">
        <h1>SERVICES</h1>
        <p>We offering a best services.</p>
        <div class="row1">
            <div class="service-col1">
                <h3>Real-Time Threat Detection</h3>
                <p>Identify and block cyber threats as they occur, ensuring your network stays secure 24/7.</p>
            </div>
            <div class="service-col1">
                <h3>Comprehensive Reports</h3>
                <p>Receive detailed insights into network activities and potential vulnerabilities.</p>
            </div>
            <div class="service-col1">
                <h3>Custom Alerts</h3>
                <p>Get instant alerts tailored to your preferences for faster response to incidents.</p>
            </div>
        </div>
        <div class="row2">
            <div class="service-col2">
                <h3>Real-Time Threat Detection</h3>
                <p>Identify and block cyber threats as they occur, ensuring your network stays secure 24/7.</p>
            </div>
            <div class="service-col2">
                <h3>Comprehensive Reports</h3>
                <p>Receive detailed insights into network activities and potential vulnerabilities.</p>
            </div>
            <div class="service-col2">
                <h3>Custom Alerts</h3>
                <p>Get instant alerts tailored to your preferences for faster response to incidents.</p>
            </div>
        </div>
    </section>
    <!--About Us-->
    <section class="AboutUs">
        <h1>About Us</h1>
        <p>Our Intrusion Detection System is designed to protect your digital assets with cutting-edge technology and proactive measures.</p>

        <div class="row">
            <div class="AboutUs-col"> 
                <img src="/static/images/About_us.jpg">
            </div>
            <div class="AboutUs-col">
                <h3>Why Choose Our IDS?</h3>
                <p>We offer a comprehensive and robust solution designed to detect, analyze, and mitigate a wide range of cyber threats, providing your network with unwavering security and reliability.
                    Our advanced threat detection system continuously monitors your network for suspicious activities, leveraging cutting-edge technology such as machine learning and real-time analytics to identify potential vulnerabilities before they can be exploited. 
                    With proactive threat mitigation strategies, we ensure rapid responses to attacks, minimizing disruptions and safeguarding your critical data. 
                    Trust our solution to keep your network safe, operational, and resilient against the ever-evolving landscape of cyber threats. <br>
                    Our solution offers seamless integration with your existing infrastructure, reducing deployment complexities and ensuring smooth operation without compromising performance.
                    It provides customizable dashboards and actionable insights to help you stay informed about your network's health and security status.
                    Advanced encryption protocols and multi-factor authentication safeguard sensitive data, enhancing protection against unauthorized access.
                    Additionally, our solution includes 24/7 support and regular updates to adapt to emerging threats, ensuring that your security framework remains future-proof.
                    Trust our innovative and scalable system to keep your network safe, operational, and resilient in the face of an ever-evolving cybersecurity landscape.
                </p>
            </div>
        </div>
    </section>
    <section class="team">
        <h1>Our Team</h1>
        <p>Meet the talented individuals who are behind the development of our Intrusion Detection System.</p>
    
        <div class="row">
            <div class="team-col">
                <img src="/static/images/digvijay_ids.jpg">
                <h3>Digvijay Netke</h3>
                <P>TY IT Student @VIIT26.</P>
            </div>
            <div class="team-col">
                <img src="/static/images/Prajakta.jpg">
                <h3>Prajakta Khandave</h3>
                <P>TY IT Student @VIIT26.</P>
            </div>
            <div class="team-col">
                <img src="/static/images/Aditya_ids.jpg">
                <h3>Aditya Pawar</h3>
                <P>TY IT Student @VIIT26.</P>
            </div>
            <div class="team-col">
                <img src="/static/images/yash.jpg">
                <h3>Yash Kunjir</h3>
                <P>TY IT Student @VIIT26.</P>
            </div>
        </div>
    </section>
    <!--Contact us for more inforamtion-->
    <section class="cta">
        <h1>Contact to our team for any query<br>Anywhere from the India</h1>
        <a href="" class="hero-btn2">CONTACT US</a>
    </section>

    <!--FOOTER-->
    <section class="footer">
        <h4>FOLLOW FOR MORE</h4>
        <p>Intrusion Detection System is designed to protect your digital assets with cutting-edge technology and proactive measures.</p>
        <div class="icons">
            <i class="fas fa-instagram" aria-hidden="true"></i>
            <i class="fas fa-linkedin"></i>
            <i class="fas fa-twitter"></i>
            <i class="fas fa-envelope"></i>
            <i class="fas fa-youtube"></i>
            <i class="fas fa-facebook"></i>
        </div>        
        <p>with <i class="fas fa-heart"></i>By TEAMX</p>
</section>
</body>
</html>
