<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Traffic Analyzer</title>
    <link rel="stylesheet" href="/static/mainstyle.css">
</head>
<body>
    <div class="container">
        <h1>Network Traffic Analyzer</h1>
        <button id="captureBtn">Capture Traffic</button>
        <div id="status"></div>
        <div id="results"></div>
        <div id="lastPrediction"></div>
    </div>
    <script src="/static/mainjs.js"></script>
</body>
</html>